DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="your-nextauth-secret-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_EMAIL="admin@remoteworklab.com"
ADMIN_PASSWORD="adminpassword123"

# Resend / SMTP Config
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_USER="user@example.com"
SMTP_PASS="password"
CONTACT_RECIPIENT_EMAIL="contact@remoteworklab.com"
